@charset "UTF-8";

#canvas {
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #04BBD3;
  position:absolute;
  z-index:-1;
  overflow: hidden;
}

.links{
  min-width: 100%; 
  padding-top:15px;
  font-size:2em;
  position: absolute;
  left: 0;
  top: 400px;
  text-align:center;
  z-index:0;
}
.headline{
  color: white;
   min-width: 100%; 
   text-align: center;
   position: absolute;
   top: 30px;
   left:0;
   z-index:0;
   font-family: 'HelveticaNeue-Medium';
  padding-top:10%;
  font-size:2em;
  
}
.section h1{
   color:#181818;
  padding-top:15px;
  font-size:2em;
}
.links a {
 font-family: 'HelveticaNeue-Medium';
text-decoration: none;
  font-weight:600;
  color: white;
  font-size:0.8em;
  margin-right: 40px;
 